.d0
{
 
 width: 40%;
 height: 55%;
 position: absolute;  
 top: 25%; 
 left: 29%;
 animation: bounceInUp 4s;}

 .container {
    display: flex;
    justify-content: space-between;
    }
    
    .left-column{
    flex-basis: 45%;
    }
    .pulha
{
width: 65px;
height: 45px;
background-color: #59579c;
font-size: 16px;
cursor: url("cursor.png");
}
.pulha:hover{
background-color: #826ec6;
}
button{
background-color: transparent;
border: none;
cursor: pointer;
}
.pulhaex
{
    width: 65px;
height: 45px;
background-color: darkred;
font-size: 16px;
cursor: url("cursor.png");
}
.pulhaex:hover
{
    background-color: red
}