label {
    display: block;
    margin-bottom: 10px;
    color: white;
    
  }
  .preco-hd {
          font-size: 20px !important;
      }
  
  select {
    margin-bottom: 0px;
  }
  .caixa_larga
      {
          display: flex;
          flex-direction: column;
      }
      .pulha
      {
          width: 65px;
          height: 45px;
          background-color: #5c5b9c;
          font-size: 16px;
          cursor: url("cursor.png");
      }
      .pulha:hover{
          background-color: #836cc3;
      }
        body
      {
              width: 100%;
              height: 100vh;
              display: flex;
              justify-content: space-around;
              justify-items: center;
              align-content: center;
              align-items: center;
              overflow: hidden;
              background-image: url(img/Fundo.png);
          }
          .d1{
              width: 100%;
              height: 100vh;
              display: flex;
              justify-content: space-around;
              flex-direction: row;
              align-items: center;
          }
          .d2{ 
              width: 70%;
              height: 65%;
              display: flex;
              justify-content: space-around;
              flex-direction: row;
              align-items: center;
          }
          .d3 {
              width: 50%;
              height: 65%;
              display: flex;
              justify-content: center;
              align-items: center;
          }
   